!!!
%html
  %head
    %title City Mixtape
    = csrf_meta_tags
    = action_cable_meta_tag

    :javascript
      window.assets = {};
      window.assets.logo = #{image_path('logo.svg').to_json};

      window.bootstrap = {};
      window.bootstrap.stars = #{@bootstrap_data[:stars].to_json};
      window.bootstrap.metroArea = #{@bootstrap_data[:metro_area].to_json};
      window.bootstrap.genres = #{@bootstrap_data[:genres].to_json};
      window.bootstrap.playlist = #{@bootstrap_data[:playlist].to_json};

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity: 'sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin: 'anonymous'}

  %body
    #app-container
